@using BlazorJWT.Core.Providers
@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager NavManager
@inject IJwtTokenProvider TokenProvider

<div></div>

@code {
    /// <summary>
    /// The Url to send the user to once the token is set.
    /// </summary>
    [Parameter]
    public string ReturnUrl { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await TokenProvider.DeleteToken();
        NavManager.NavigateTo(ReturnUrl, true);
    }

}